<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <form (submit)="onSignUp(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        #emailInput="ngModel"
        name="email"
        ngModel
        required
        eamil
      />
      <mat-error *ngIf="emailInput.invalid">Please enter Email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        #passwordInput="ngModel"
        ngModel
        name="password"
        ngModel
        required
      />
      <mat-error *ngIf="passwordInput.invalid">Please enter Password</mat-error>
    </mat-form-field>

    <button *ngIf="!isLoading" mat-raised-button color="primary" type="submit">
      Sign Up
    </button>
  </form>
</mat-card>
